@font-face {
  font-family: 'Sen-Regular';
  src: url('../fonts/Sen-Regular.ttf') format('truetype'); /* Specify the path to your TTF file */
}
@font-face {
  font-family: 'Sen-Bold';
  src: url('../fonts/Sen-Bold.ttf') format('truetype'); /* Specify the path to your TTF file */
}
@font-face {
  font-family: 'Austin-Capittal';
  src: url('../fonts/Austin-Capittal.ttf') format('truetype'); /* Specify the path to your TTF file */
}
@font-face {
  font-family: 'AdorHairline-Medium';
  src: url('../fonts/AdorHairline-Medium.ttf') format('truetype'); /* Specify the path to your TTF file */
}
@font-face {
  font-family: 'Times-New-Roman';
  src: url('../fonts/Times-New-Roman.ttf') format('truetype'); /* Specify the path to your TTF file */
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Sen-Regular';
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sen-Regular';
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background-image: url('../img/nav-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-family: 'Sen-Regular';
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #B18740;
  font-weight: 600;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}
/*************************************** SIDEBAR FORM CSS ************************************/
.enquireNowSideFormBtn {
	position: fixed;
	top: 50%;
	right: -65px;
	transform: translateY(-50%) rotate(90deg);
	padding: 5px 15px;
	z-index: 2;
	cursor: pointer;
	/* background: #FFFFFF 0% 0% no-repeat padding-box; */
	box-shadow: 0px 5px 20px #0000005E;
	background: #004C6D 0% 0% no-repeat padding-box;
	border-radius: 12px;
}

.enquireNowSideFormBtn p {
	font-family: 'Sen-Bold';
	letter-spacing: 1.6px;
	color: #fff;
}

.enquireNowSideFormCloseBtn {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #000;
	font-size: 30px;
	cursor: pointer;
}

.sidebar-contact {
	position: fixed;
	top: 50%;
	right: -350px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 350px;
	height: auto;
	padding: 65px 30px;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: 999;
}

.sidebar-contact.active {
	right: 0;
	-webkit-box-shadow: 0 20px 50px rgb(0 0 0 / 50%);
	box-shadow: 0 20px 50px rgb(0 0 0 / 50%);
}

.sidebar-contact input::placeholder , .sidebar-contact textarea::placeholder{
	font-family: 'Calibri Light';
    letter-spacing: 0px;
    color: #000000;
}

.sidebar-contact input.form-control:focus {
	background-color: transparent;
	box-shadow: none;
	border-color: #58595B;
	color: #58595B;
}

.sidebar-contact input,
.sidebar-contact textarea{
	width: 100%;
	height: 36px;
	padding: 0px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin-bottom: 0px;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #000000;
	color: #000000;
	font-family: 'Calibri Light';
}

.sidebar-contact h2 {
	padding: 0;
	text-align: center;
	letter-spacing: 0px;
	color: #A27A23;
	text-transform: uppercase;
	font-family: 'Sen-Bold';
}

.toggle.active {
	height: 35px;
	width: 35px;
	line-height: 35px;
	top: 0;
	left: -35px;
}

.toggle {
	background: #63401a;
}

.toggle {
	position: absolute;
	height: 35px;
	width: 160px;
	text-align: center;
	cursor: pointer;
	background: #C69651;
	top: 58px;
	left: -98px;
	line-height: 36px;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	color: #000;
}

.toggle.active:before {
	position: absolute;
	content: 'X';
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	left: 37%;
}

.toggle.active:before {
	content: 'X';
}

.toggle:before {
	content: 'Enquire Now';
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}

.toggle:hover {
	background-color: #000;
}


@media(max-width:320px) {
	.sidebar-contact {
		right: -300px;
		width: 300px;
		padding: 50px 30px;
	}
}

/*************************************** SIDEBAR FORM CSS ************************************/
.error {
  color: red;
  font-size: 14px;
  padding-top: 5px;
  font-family: 'calibribold';
}
.error_msg {
  display: none;
}
.modal-body h1.modal-title {
  text-align: center;
  letter-spacing: 0px;
  color: #B18740;
  text-transform: capitalize;
  font-family: 'Sen-Regular';
  font-size: 30px;
}
button.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
  opacity: 1;
}

#popupModal .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  font-family: 'Sen-Regular';
  font-size: 20px;
  color: #000;
}


/* CSS START */

.section-padding{
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-line {
  background: transparent linear-gradient(90deg, #FFD8C6 0%, #FFBD80 42%, #92804F 50%, #AA8852 55%, #D89958 64%, #F4A45B 72%, #FFA85D 76%, #FFB06C 83%, #FFC595 98%, #FFC99D 100%) 0% 0% no-repeat padding-box;
  height: 6px;
  width: 100%;
  display: block;
}
main#main {
  margin-top: 72.5px;
}
.section-title p {
  font-family: 'Austin-Capittal';
  color: #B18740;
  font-size: 50px;
  margin-bottom: 0;
  line-height: 1;
}

.section-title h2 {
  font-family: 'AdorHairline-Medium';
  letter-spacing: 1.53px;
  color: #B18740;
  font-size: 40px;
  margin-bottom: 0;
  line-height: 1;
}
.about-box p {
  color: #555555;
  font-family: 'Sen-Regular';
}
.legacy-box-wrapper {
  background: #FFEDDD 0% 0% no-repeat padding-box;
  padding: 15px;
}

.legacy-box {
  display: flex;
  gap: 10px;
  width: 50%;
  float: left;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.legacy-box-wrapper .legacy-box + .legacy-box{
  border-left: 1px solid #fff;
}
.legacy-box h3 {
  font-family: 'AdorHairline-Medium';
  letter-spacing: 1.2px;
  color: #B18740;
  /* line-height: 1; */
  /* margin-bottom: 0; */
}

.legacy-box h4 {
  color: #555555;
  font-family: 'Sen-Regular';
  font-size: 14px;
  margin-bottom: 0;
}
.upcoming .section-title p{
  font-family: 'Sen-Regular';
  color: #606060;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.upcoming .section-title h2{
  font-family: 'Sen-Bold';
  color: #B18D41;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 25px;
}
span.line {
  display: block;
  border: 1px solid #B18D41;
  flex: 2;
}
.upcoming-box img{
  width: 100%;
}
.upcoming-box p {
  background: #B18D41 0% 0% no-repeat padding-box;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  padding: 4px;
  font-family: 'Sen-Bold';
  color: #FFFFFF;
  font-size: 14px;
  margin-top: -15px;
  z-index: 999;
  position: relative;
}
.iconic-life{
  background: #FFEDDD 0% 0% no-repeat padding-box;
}
.content {
  background: #0000008a 0% 0% no-repeat padding-box;
  color: #fff;
  position: absolute;
  width: 40%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.content p {
  color: #FFFFFF;
  font-family: 'Austin-Capittal';
  font-size: 50px;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.life-box {
  position: relative;
}

.content h3 {
  font-family: 'AdorHairline-Medium';
  font-size: 50px;
  line-height: 1;
}
.your-home .section-title {
  width: 60%;
  margin: 0 auto;
}

.your-home .section-title h2 {
  text-align: right;
  font-size: 35px;
}

.your-home .section-title p {
  font-size: 45px;
}

.swiper-button-next, .swiper-button-prev{
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 25px;
  font-weight: bolder;
  color: #B18D41;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -3px 4px 5px #000000BF;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next{
  right: 45px;
}
.swiper-button-prev{
  left: 45px;
}
.contact-form .section-title h2{
  letter-spacing: 1.5px;
  color: #B18D41;
  font-family: 'AdorHairline-Medium';
  text-align: center;
  border-bottom: 4px solid #B18D41;
  padding-bottom: 15px;
  width: max-content;
  margin: 0 auto;
}
.form-wrapper label {
  font-family: 'Sen-Regular';
  letter-spacing: 0px;
  color: #2B2B2B;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 0;
}

.form-wrapper input, .form-wrapper textarea {
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  border-radius: 0;
}

.form-wrapper input:focus-visible, .form-wrapper textarea:focus-visible{
  border: 0;
  border-bottom: 1px solid #000;
  outline: 0;
}
.submit-btn{
  background: #004C6D 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-family: 'Sen-Bold';
  padding: 5px 30px;
  font-size: 18px;
  color: #fff;
  outline: 0;
  border: 0;
}
.claim-wrap{
  background-image: url('../img/claim-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px 100px;
  text-align: center;
}
.claim-wrap .line{
  background: transparent linear-gradient(90deg, #FFDBC9 0%, #FFC080 42%, #95804F 50%, #AA8851 54%, #D89B57 64%, #F4A65B 72%, #FFAB5D 76%, #FFB26C 83%, #FFC695 97%, #FFCCA0 100%) 0% 0% no-repeat padding-box;
  border-radius: 1px;
  width: 28%;
  border: 0;
  height: 5px;
  margin: 0 auto;
}
.claim-wrap h5{
  font-family: 'Sen-Regular';
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}
.claim-wrap h4{
  color: #fff;
  font-family: 'Times-New-Roman';
  font-size: 35px;
  margin-bottom: 30px;
}
.claim-wrap h4 span{
  background: transparent linear-gradient(90deg, #FFDBC9 0%, #FFC080 42%, #95804F 50%, #AA8851 54%, #D89B57 64%, #F4A65B 72%, #FFAB5D 76%, #FFB26C 83%, #FFC695 97%, #FFCCA0 100%) 0% 0% no-repeat padding-box;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}
.claim-wrap p {
  color: #FFFFFF;
  font-family: 'Sen-Regular';
  margin-bottom: 0;
  margin-top: 30px;
}
.footer-txt h2{
  color: #2B2B2B;
  border-bottom: 2px solid #2B2B2B;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.footer-txt {
  text-align: center;
}

.footer-txt h3 {
  color: #2B2B2B;
  font-family: 'Sen-Regular';
  font-size: 22px;
  margin-bottom: 0;
}

footer#footer {
  background: #FFEDDD;
  padding-top: 200px;
  margin-top: -230px;
}
.map-box img {
  width: 100%;
}
.connectivity-wrapper img{
  width: 100%;
}
.life-box img {
  width: 100%;
}
.call-btn {
  position: fixed;
  bottom: 62%;
  right: 0;
  color: #000 !important;
  padding: 9px;
  font-size: 20px;
  background: #fdcc06 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #0000005E;
  z-index: 2;
}

.whatsapp-btn {
  position: fixed;
  bottom: 32%;
  right: 0;
  color: #000;
  padding: 9px;
  font-size: 20px;
  background: #fdcc06 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #0000005E;
  z-index: 2;
}

.pdf-btn {
  position: fixed;
  bottom: 20%;
  right: 0;
  color: #000;
  padding: 9px;
  font-size: 20px;
  background: #fdcc06 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #0000005E;
  z-index: 2;
}

.swiper.banner-slider .swiper-button-next, 
.swiper.banner-slider .swiper-button-prev {
    width: 10%;
}

/* .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
} */
.swiper.banner-slider .swiper-button-next, 
.swiper.banner-slider .swiper-button-prev{
  display: none;
}